@{
    Layout ="";
}

@* @model List<Models.projectModels.Job> *@
@model List<Models.projectModels.EmployeeApplication>;

@using System.Security.Claims;


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Job-matching</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

 <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">LOGO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav ">
                   <li class="nav-item">
                            <a asp-action="HiringIndex" asp-controller="HiringManager" class="nav-link text-dark btn-outline-primary" >Hiring Index</a>

                        </li>
                 <li class="nav-item">
                            <a class="nav-link text-dark btn-outline-primary" asp-area="" asp-controller="HiringManager" asp-action="PostJob">PostJob</a>

                        </li>
                        

                  
            </ul>
             <ul class="navbar-nav ml-auto">
                 <li class="nav-item  pull-right">
                        <a asp-action="ApplicationsDashboard" asp-controller="HiringManager" class="nav-link text-dark btn-outline-primary">Applications DashBoard</a>
                </li>
                <li class="nav-item  pull-right">
                        <a class="nav-link text-dark btn-outline-primary">all Employee</a>
                </li>
                   <li class="nav-item  pull-right">
                        <a class="nav-link text-dark btn-outline-primary">@User.Identity.Name</a>
                </li>
                        <li class="nav-item  pull-right">
                            <a class="nav-link text-dark btn-outline-primary" asp-area="" asp-controller="HiringManager" asp-action="Logout">Logout</a>

                </li>
            </ul>
            </div>
        </div>
</nav>



<div class="Container">


                    @if (@Model != null){

            


                @foreach(var item in Model)

                    {
                        
                            <br><br>
                    <br><br>
                    <br><br>
                    <br><br>


                        <div class="card" style="">
                    <div class="card-body">
                        <h5 class="card-title">@item.Jobtitle</h5>
                        <h1 >@item.ComapanyName</h1  >
                        <p>@item.EmployeeEmail</p>
                    </div>
                    </div>
                    <br><br>
                    <br><br>
                    <br><br>
                        
            }
        }
        else{

            <h1>u havent any application!</h1>
        }





</div>

