@{
    
    Layout ="~/Views/Shared/_HiringLayout.cshtml";

}
@model List<Models.projectModels.EmployeeApplication>;







<div style="margin-top:5rem" class="row">
    <div class="col-md-12">
        <h1 style="font-family: 'Yanone Kaffeesatz', sans-serif;">List of recived application</h1>
    </div>

</div>

<br>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <td>#</td>
                    <td>Jobtitle</td>
                    <td>DateofApplication</td>
                    <td>View Applicant</td>
                </tr>
            </thead>
            <tbody>

         @if (@Model != null){

                    var count = 1;

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@count</td>
                            <td>@item.Jobtitle</td>
                            <td>@item.DateofApplication</td>
                            <td>
                                <a asp-action="ViewApplicant" asp-controller="HiringManager" 

                                 asp-route-jTitle="@item.Jobtitle" 
                                 asp-route-EmployeeEmail="@item.EmployeeEmail" 
                                 asp-route-companyName = "@item.ComapanyName"
                                 style="color:blue">
                                    <img style="width:2rem;;" src="~/image/el.png">
                                </a>
                            </td>
                        </tr>
                        count++;
                    }

               }
        else{

            <h1>U havent any application here!</h1>
        }

            </tbody>
        </table>
    </div>
</div>