@{
    Layout ="";
}

@model List<Models.projectModels.Job>

@using System.Security.Claims;

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Job-matching</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<div class="text-center m-4 p-4">
    <h1>  
        Hiring Index
    </h1>
          
                            <a class="text-dark btn-outline-primary" asp-area="" asp-controller="HiringManager" asp-action="PostJob">PostJob</a>
             
             
            @* <h2>@User.Identity.Name</h2> *@
            <h1>@ViewData["userEmail"]</h1>

            <li class="nav-item  ">
                            <a class="nav-link text-dark btn-outline-primary" asp-area="" asp-controller="HiringManager" asp-action="Logout">Logout</a>
                </li>




</div>

<div class="Container">

    
                       @foreach(var item in Model)

                            {


                                <div class="card" style="">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">@item.JobTitle</h5>
                                <p>@item.JobDetail</p>
                                <a href="#" class="btn btn-primary">@item.CompanyName</a>
                                <p>@item.dateTime</p>
                            </div>
                            </div>
                                    
                             
                                
                                
                    }


</div>
