@model List<Models.projectModels.EmployeeApplication>;



@{
    Layout ="";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Job-matching</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>


 <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Employee</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav ">
                   <li class="nav-item">
                            <a asp-action="MainIndex"asp-controller="Main" class="nav-link text-dark btn-outline-primary" >Employee Index</a>

                        </li>                  
            </ul>
             <ul class="navbar-nav ml-auto">

                   <li class="nav-item  pull-right">
                        <a asp-action="Resume" asp-controller="Main" class="nav-link text-dark btn-outline-primary">My Resume</a>
                </li>

                   <li class="nav-item  pull-right">
                        <a class="nav-link text-dark btn-outline-primary">My Applications   </a>
                </li>
                     <li class="nav-item  pull-right">
                        <a class="nav-link text-dark btn-outline-primary">new post related to ur profile   </a>
                </li>
            
                   <li class="nav-item  pull-right">
                        <a class="nav-link text-dark btn-outline-primary">@User.Identity.Name</a>
                </li>
                        <li class="nav-item  pull-right">
                            <a class="nav-link text-dark btn-outline-primary" asp-area="" asp-controller="HiringManager" asp-action="Logout">Logout</a>

                </li>
            </ul>
            </div>
        </div>
</nav>



<div class="row">
    <div class="col-md-12">
        <h1>List of applications</h1>
    </div>

</div>
        @if (@Model != null){

        


                @foreach(var item in Model)

                    {
                            <br><br>
                    <br><br>
                    <br><br>
                    <br><br>


                        <div class="card" style="">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@item.Jobtitle</h5>
                        <h1 >@item.ComapanyName</h1  >
                        <p>@item.EmployeeEmail</p>
                    </div>
                    </div>
                    <br><br>
                    <br><br>
                    <br><br>
                        
            }
        }
        else{

            <h1>U havent any application here!</h1>
        }




