@model List<Models.projectModels.EmployeeApplication>;

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


@{
    
    Layout ="~/Views/Shared/_MainViewLayout.cshtml";
    
}




<div style="margin-top:5rem" class="row">
    <div class="col-md-12">
        <h1 style="font-family: 'Yanone Kaffeesatz', sans-serif;">List of Your application</h1>
    </div>

</div>

<br>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <td>#</td>
                    <td>ComapanyName</td>
                    <td>Jobtitle</td>
                    <td>DateofApplication</td>
                    <td>status</td>

                    <td>View Application</td>
                </tr>
            </thead>
            <tbody>

         @if (@Model != null){

                    var count = 1;

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@count</td>
                            <td>@item.ComapanyName</td>
                            <td>@item.Jobtitle</td>
                            <td>@item.DateofApplication</td>
                            <td>
                                @if (!@item.status){
                                <a style="text-decoration: none;" href="">pending....</a>
                                }
                                else{
                                <a style="text-decoration: none;" href="">Accepted</a>
                                }

                            </td>
                            <td>
                                <a  asp-action="ApplicationDetail"  asp-controller="Main" asp-route-cName="@item.ComapanyName" asp-route-jTitle="@item.Jobtitle" style="color:blue">
                                    <img style="width:2rem;;" src="~/image/el.png">
                                </a>
                            </td>
                        </tr>
                        count++;
                    }

               }
        else{

            <h1>U havent any application here!</h1>
        }

            </tbody>
        </table>
    </div>
</div>