@model Models.projectModels.Job;
@{
    Layout ="~/Views/Shared/_MainViewLayout.cshtml";

}




<div class="row">
    <div class="col-md-12">
        <h1>Job Detail</h1>
    </div>
</div>



<div class="row">


                  <div class="Container">
                <div class="card"  style="width:1000px ; margin-left : 200px" style="">
                    <div class="card-body">
                        <h3 class="card-title">@Model.JobTitle
                        <img style="float:right" src=$"{@Model.CompanyNameLogo}">   <br>   

                        </h3>
                        <a href="" >CompanyName :  @Model.CompanyName</a >

                        <hr>

                                    <br>
                                    <br>
                                
                                    <p>@Model.JobDetail</p>

                                    <br>
                                

                                <table style="width:100%">
                                <tr>
                                    <th>Job Type</th>
                                    <th>Salary Range</th>
                                </tr>
                                <tr>
                                    <td>@Model.JobType</td>
                                    <td>$@Model.SalaryRange</td>
                                </tr>
                             
                            
                                </table>
                                <br><br>

                            <a href="">Number of applicants till now: @ViewData["NumberofApplicants"] </a>



                        <hr>

                        <span><a style="text-decoration: none;" href=""> post date: @Model.dateTime</a></span>
                                <form action="JobDetail" method="POST">

                                <button style="float: right;"  type="submit"
                                    asp-route-user="@User.Identity.Name"
                                    asp-route-jobTitle="@Model.JobTitle" 
                                    asp-route-companyName="@Model.CompanyName" class="btn btn-outline-primary"> Apply </button>

                            </form>
                                
                
                    </div>
                </div>
            </div>
 
</div>


