@* @using Models.projectModels; *@
@using System.Web;
@using  Microsoft.AspNetCore.Http;
@model List<Models.projectModels.Job>

@{
    Layout ="~/Views/Shared/_MainViewLayout.cshtml";
}

<link rel="stylesheet" href="~/css/search.css" />

    


<div class="">
    <div class="row">
        <br><br>
        <div style="margin-top: 5rem;" class="col-md-4">
            <div class="flexbox">
                <div class="search">
                    <h5>Search jobs</h5>
                    <div>
                    <input id="search" type="text" placeholder="Search . . ." >
                    </div>
                </div>
            </div>
        

        </div>

        <div style="margin-top: 6rem;" class="col-md-8">


            <div class="row">
                <div class="col-md-12">
                    <center style="font-size: 30px;">List of avaliable Jobs</center>
                </div>
            </div>





            <div class="row">
                <div  class="col-md-12" >
                
                                @{
                                    
                                }
                                @foreach(var item in Model)

                                        {
                                        

                                
                                <div style="margin-top:1rem" class="Container main">
                                    <div class="card" style="">
                                        <div class="card-body">
                                            <h3 class="card-title x">@item.JobTitle
                                            </h3>
                                            <a href="" >CompanyName :  @item.CompanyName</a >

                                            <hr>

                                          <table style="width:100%">
                                                <tr>
                                                    <th>Job Type</th>
                                                    <th>Salary Range</th>
                                                </tr>
                                                <tr>
                                                    <td>@item.JobType</td>
                                                    <td>$@item.SalaryRange</td>
                                                </tr>
                                            
                                            
                                                </table>
                                                        
                                       


                                            <hr>

                                            <span><a style="text-decoration: none;" href=""> post date: @item.dateTime</a></span>
                                            <a  asp-action="JobDetail" asp-controller="Main" asp-route-jobTitle="@item.JobTitle" asp-route-companyName="@item.CompanyName"  style="float: right;" >view Detail ></a>

                                    
                                        </div>
                                    </div>
                                </div>
                

                                            
                                }

                        
                </div>
            </div>



        </div>

    </div>

</div>


    <script src="~/js/search.js" asp-append-version="true"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}