@model List<Models.projectModels.Job>;



@{
    
    Layout ="~/Views/Shared/_MainViewLayout.cshtml";

}



<div style="margin-top:5rem"  class="row">
    <div class="col-md-12">
        <h1 style="font-family: 'Yanone Kaffeesatz', sans-serif;">all application related to ur profile</h1>
    </div>

</div>

<div>

        @if (@Model != null){

            


                @foreach(var item in Model)

                    {
                        
                        

                        <div class="shadow pl-5 ml-5 card my-sm-5"  style="width:1000px ; margin-left : 200px" style="">
                    <div class="card-body">
                        <h3 class="card-title">@item.JobTitle
                        <img style="float:right" src="a.jpg">   <br>   

                        </h3>
                        <a href="" >CompanyName :  @item.CompanyName</a >

                        <hr>

                                    <br>
                                    <br>
                                
                                    <p>@item.JobDetail</p>

                                    <br>
                                

                                <table style="width:100%">
                                <tr>
                                    <th>Job Type</th>
                                    <th>Salary Range</th>
                                </tr>
                                <tr>
                                    <td>Permanent</td>
                                    <td>$500 - $600</td>
                                </tr>
                             
                            
                                </table>
                                <br><br>




                        <hr>

                        <span><a  style="text-decoration: none;font-family: 'ZCOOL KuaiLe', cursive;" href=""> post date: @item.dateTime</a></span>
                                <form action="JobDetail" method="POST">
                                    <button style="float: right;"  type="submit"
                                    asp-route-user="@User.Identity.Name"
                                    asp-route-jobTitle="@item.JobTitle" 
                                    asp-route-companyName="@item.CompanyName" class="btn btn-outline-primary"> Apply </button>
                            </form>
                                
                
                    </div>
                </div>
                        
            }
        }
        else{

            <h1>There is no Jobs related to ur profile!</h1>
        }


</div>