@{
    
    Layout ="~/Views/Shared/_MainViewLayout.cshtml";

}
@model Models.projectModels.Applicants;



<div style="margin-top:6rem;" class="">
    <h1>Resume <span><a asp-action="EditResume" asp-controller="Main">Edit Resume</a></span></h1>

    <div class="card">
        <div class="card-boy">

            <div>
                <h3>Name : @Model.FullName </h3>
                <h3>Phone Number : @Model.PhoneNumber</h3>
                <h3>Email  : @Model.Email</h3>
            </div>
            <div>
                <h3>Job position :@Model.JobPostion </h3>
            </div>
            <div>   
                <h3>LinkedIn Link :<a target="_blank" href="@Model.LinkedInLink"> @Model.LinkedInLink</a></h3>
            </div>
        </div>

    </div>
</div>


    